<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBLz8_QREOjPhiy-1Q402_UulUw855Cc78</string>
	<key>GCM_SENDER_ID</key>
	<string>177575032831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>panto.PhotoPurger</string>
	<key>PROJECT_ID</key>
	<string>photo-purger</string>
	<key>STORAGE_BUCKET</key>
	<string>photo-purger.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:177575032831:ios:2fbbf7d5a047df1b11d9ca</string>
</dict>
</plist>